In [8]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_pickle("./trainingSet")
df.head()

,Flow,dev,t-1dev,t-2dev,t-3dev,t-4dev,t-5dev,t-6dev,t-7dev,t-8dev,t-9dev,t-10dev,t-11dev,t-12dev,exist
0,0.089,0.026370,-0.029000,-0.006370,0.039222,0.014608,0.097098,0.036569,-0.020870,-0.012333,-0.053370,-0.003815,-0.018630,-0.018000,False
1,0.033,-0.029000,-0.006370,0.039222,0.014608,0.029451,0.036569,-0.020870,-0.012333,-0.053370,-0.003815,-0.018630,-0.018000,0.048630,False
2,0.067,-0.006370,0.039222,0.014608,0.029451,0.097098,-0.020870,-0.012333,-0.053370,-0.003815,-0.018630,-0.018000,0.048630,-0.004778,False
3,0.111,0.039222,0.014608,0.029451,0.097098,0.036569,-0.012333,-0.053370,-0.003815,-0.018630,-0.018000,0.048630,-0.004778,0.014765,False
4,0.078,0.014608,0.029451,0.097098,0.036569,-0.020870,-0.053370,-0.003815,-0.018630,-0.018000,0.048630,-0.004778,0.014765,0.023451,False

In [9]:
df[df["exist"] == False].shape[0]

747193

In [10]:
df[df["exist"] == True].shape[0]

6042